<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>faqs</key>
	<array>
		<dict>
			<key>title</key>
			<string>Plist Test Question</string>
			<key>details</key>
			<string>This is a test answer from a plist file.</string>
			<key>topic</key>
			<string>Testing</string>
		</dict>
		<dict>
			<key>title</key>
			<string>Empty Topic Test</string>
			<key>details</key>
			<string>This FAQ has an empty topic string.</string>
			<key>topic</key>
			<string></string>
		</dict>
	</array>
</dict>
</plist>
